.bg-category-level0 {
    background-color: #FFE1F0;
}

.bg-geo {
    background-color: #D6F5DF;
}

.bg-category-level1 {
    background-color: #FDF4D7;
}

.bg-category-level2 {
    background-color: #F8F9FA;
}
